
.picture{
    margin-top: 20px;
    margin-left: 370px;
    border-radius:20px;
}
.total{
    background-color:rgb(235, 181, 111)
}
.title{
    margin: 0px;
    margin-right: 300px;
}
.service,.home,.about{
    font-weight:bold;
    background-color: burlywood;
    border-radius: 10px;
    padding:10px;
    margin-top:50px;
}
nav{
    background-color: rgb(117, 61, 23);
    display:flex;
    gap:40px;
    border-radius: 10px;
    padding:10px;
    padding:30px;
}
nav a{
    display: inline-block;
    text-decoration:none;
    color:black;
    font-size: 18px;
}
.align{
    display:flex;
    gap:50px;
    text-align: center;
}
.button{
    color:black;
    text-decoration: none;
    background-color: rgb(207, 33, 33);
    padding:10px;
    border-radius: 20px;
    box-shadow: 0 5px 8px rgb(236, 107, 107);
}
.button:active{
    background-color: lightcyan;
}
.button:hover{
    background-color: rgb(221, 78, 78);
    padding: 12px;
}